snippet color "color: #xxxxxx"
color: #${0:ffffff};
endsnippet

snippet width "width: xxxx;"
width: ${0:300px};
endsnippet

snippet padding "padding: xxxx;"
padding: ${0:300px};
endsnippet

snippet txta "text-align" wA
text-align: ${0:center};
endsnippet

snippet bkg "background" wA
background: #${0:ffffff};
endsnippet
